DATABASE_URL="postgres://user:password@localhost:5432/mydb"
BASE_URL="http://host:port"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="ofc_youremailaddress@gmail.com"
SMTP_PASS="your-email-app-password"
RUST_LOG="warn"
DEV=""