---

---

<sectio class="w-full h-[50vh] flex flex-col justify-center items-center relative">
      <div class="bg-gray-500 w-full h-px"></div>
      <div class="w-4/5 min-w-96 mt-24 flex justify-center items-center relative">
            <h1 class="text-5xl text-center"><q> Your money should not flow undetected. <br /> <span class="text-(--primary-text-color)">FinCord makes you keep an eye on your money <b class="text-(--primary-text-color)">easier</b></span> </q></h1>
      </div>
      <div class="bg-gray-500 w-full h-px mt-24"></div>
</sectio 